---
---

ul {
    margin: 20px;
}

.container section {
    margin: 50px;
}

.post {
    // background-color: wheat;
    // height: 50px;
    margin-top: 40px;
    position: relative;
    width: 80%;
}