---
---

ul {
    // margin: 20px;
    margin: 1.4vw;
}

.container section {
    // margin: 50px;
    margin: 2vw;
}

.post {
    // background-color: wheat;
    // height: 50px;
    margin-top: 40px;
    position: relative;
    width: 80%;
}