---
---

body {
    height: 100vh;
    width: 100vw;
}

.container { margin-top: 0; height: 100%;}

.container section {
    margin: 20px;
    width: 100% !important;
    margin-top: 10px;
    height: 100%;
    border: 0;
}

.copy {
    border: 1px solid white;
    color: #b5e853;
    padding: 3px;
    border-radius: 4px;
    text-decoration: none;
    background: none;
    transition: color 0.7s;
}

.copy:hover {
    cursor: pointer;
    color: #bdf358;
}

.categories_small {
    margin-bottom: 10px;
}

@media (max-width: 600px), (min-height: 890px){
    .container {
        margin-top: 90px;
    }
}