---
layout: default
---

<link rel="stylesheet" href="{{ '/assets/css/post.css?v=' | append: site.github.build_revision | relative_url }}">

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
  <small>Tags: {% for tag in page.tags %} <a class="tag" href="/tag/{{tag}}">{{ tag }}</a> {% endfor %}</small>
{% endif %}
<br>
<!-- {% if page.categories %}
  <small>Categories: {% for category in page.categories %} <a class="tag" href="/category/{{category}}">{{ category }}</a> {% endfor %}</small>
{% endif %} -->