<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en-US' }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="cphsPqPwkYhfSICiunq-WX5Gs9t3nrTEuQBWkPoq5Co" />
    <link rel="stylesheet" href="{{ '/assets/css/default.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://kit.fontawesome.com/55f0994afc.js" crossorigin="anonymous"></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TQJN96Q');</script>
      <!-- End Google Tag Manager -->
    <link rel="stylesheet" href="{{ '/assets/css/post.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <meta property="og:type" content="article">
    <meta property="article:author" content="{{ page.author | default: site.author }}">
    <meta property="article:tag" content="{{page.tags | join: ', '}}">
    {% if page.section %}
    <meta property="article:section" content="{{page.section}}">
    {% endif %}
    <script src="{{ '/assets/js/calculate-reading-time.js' }}"></script>
    <script src="{{ '/assets/js/copy-text.js' }}"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#b5e853">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#b5e853">

    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5f874cb10a629300122e0533&product=inline-share-buttons" async="async"></script>
{% seo %}
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
          const minutes_to_read = ReadingTime(200);
          
          var s = document.getElementsByClassName("reading_time");
          s[0].innerHTML = `Reading time: ${minutes_to_read} ${minutes_to_read == 1 ? "minute" : "minutes"}`
        })

    </script>
    <header>
      <a href="/" class="name">ReddyyZ</a>
      <div class="lnks">
        <a href="https://github.com/ReddyyZ"><i class="fab fa-github"></i></a>
        <a href=""><i class="fab fa-twitter-square"></i></a>
        <a href="https://youtube.com/fantasmanosistema"><i class="fab fa-youtube"></i></a>
        <a href="https://medium.com/@reddyyz"><i class="fab fa-medium"></i></a>
        <a href="/portfolio"><i class="fas fa-briefcase"></i></a>
        <a href="mailto:arthurc.oli.whitehat@gmail.com"><i class="far fa-envelope"></i></a>
      </div>
    </header>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQJN96Q"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <div class="fixed-bar">
        <img src="{{ site.perfil_img }}" alt="ReddyyZ Perfil">

        <a class="name" href="/">{{ site.name }}</a>
        <div class="desc-div">
          <p class="desc">{{ site.perfil_desc }}</p>
          <p class="site-desc">
            Artigos sobre pentest & hacking
          </p>
        </div>
        <div class="links">
            <div class="link"><i class="fab fa-github"> &nbsp;<a href="https://github.com/ReddyyZ" target="_blank" rel="noopener noreferrer">Github</a></i></div>
            <div class="link"><i class="fab fa-twitter-square"> &nbsp;<a href="">Twitter</a></i></div>
            <div class="link"><i class="fab fa-youtube"> <a href="https://youtube.com/fantasmanosistema" target="_blank" rel="noopener noreferrer">Youtube</a></i></div>
            <div class="link"><i class="fab fa-medium"> &nbsp;<a href="https://medium.com/@reddyyz" target="_blank" rel="noopener noreferrer">Medium</a></i></div>
            <div class="link"><i class="fas fa-briefcase"> &nbsp;<a href="/portfolio">Portfolio</a></i></div>
            <div class="link"><i class="far fa-envelope"> <a href="mailto:arthurc.oli.whitehat@gmail.com" target="_blank" rel="noopener noreferrer">Email</a></i></div>
            <div class="link"><i class="fas fa-map-marker-alt"> &nbsp;<a>Brazil</a></i></div>
        </div>
    </div>

    <div class="container">
      <section id="main_content">
        <small>{{ page.date | date: "%-d %B %Y" }}</small><br>
        <small class="reading_time"></small>
        <h1>{{ page.title }}</h1>
        
        <p class="view">by {{ page.author | default: site.author }}</p>
        
        {{content}}
        
        {% if page.tags %}
          <small>Tags: {% for tag in page.tags %} <a class="tag" href="/tag/{{tag}}">{{ tag }}</a> {% endfor %}</small>
        {% endif %}
        <br>
        {% if page.categories %}
          <small class="categories_small">Categories: {% for category in page.categories %} <a class="tag" href="/category/{{category}}">{{ category }}</a> {% endfor %}</small>
        {% endif %}
        <br>
      </section>
      <div class="footer">
        <div class="sharethis-inline-share-buttons"></div>
      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
